<div class="container container-custom">
  <h1 class="text-left grey"><strong>Game that will kill a lot of your time</strong></h1>
  <center>
    <iframe width="1050" height="315" src="https://www.youtube.com/embed/fzIwI6O03LI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></iframe>
  </center>

  <h2 class="text-left black">About</h2>
  <p class="text-sm-left">&nbsp &nbsp Assassin's Creed IV: Black Flag is a 2013 action-adventure video game developed by Ubisoft Montreal and published by Ubisoft. It is the sixth major installment in the Assassin's Creed series. Its historical timeframe precedes that of Assassin's Creed III (2012), though its modern-day sequences succeed III's own.</p>

  <p class="text-sm-left">&nbsp &nbsp The plot is set in a fictional history of real world events and follows the centuries-old struggle between the Assassins, who fight for peace with free will, and the Templars, who desire peace through control. The framing story is set in the 21st century and describes the player as an Abstergo agent. The main story is set in the 18th century Caribbean during the Golden Age of Piracy, and follows notorious Welsh pirate Edward Kenway, grandfather and father of Assassin's Creed III protagonist and antagonist Ratonhnhaké:ton and Haytham Kenway respectively, who stumbles upon the Assassin/Templar conflict. The attempted establishment of a Republic of Pirates utopia (free from either British or Spanish rule) is a significant plot element.</p>

  <div class="col-xs-12" style="height:50px;"></div>

  <center>
    <div class="row">
        <div class="col-md-6">
          <%= image_tag ("/assets/black_flag.jpg"), :width => "480"%>
        </div>
        <div class="col-md-6">
          <%= image_tag ("/assets/black_flag2.jpg"), :width => "480"%>
        </div>
    </div>
  </center>

  <div class="col-xs-12" style="height:50px;"></div>

</div>