<div class="container container-custom">
  <h1 class="text-left grey"><strong>PC Games</strong></h1>
  <h2 class="text-left black">General</h2>
  <p class="text-sm-left">&nbsp &nbsp PC games, also known as computer games or personal computer games, are video games played on a personal computer rather than a dedicated video game console or arcade machine. Their defining characteristics include a lack of any centralized controlling authority, a greater degree of user control over the video-gaming hardware and software used and a generally greater capacity in input, processing, and output.</p>

  <p class="text-sm-left">&nbsp &nbsp Home computer games became popular following the video game crash of 1983 leading to the era of the "bedroom coder". In the 1990s, PC games lost mass-market traction to console games before enjoying a resurgence in the mid-2000s through digital distribution.</p>
  <center>
    <div class="row">
        <div class="col-md-6">
            <a href="#"><img src="/assets/1983.jpg" alt="inn_logo"></a>
        </div>
        <div class="col-md-6">
            <a href="#"><img src="/assets/1983_2.jpg" alt="ccs_logo"></a>
        </div>
    </div>
  </center>

  <h2 class="text-left black">Modern games</h2>
  <p class="text-sm-left">&nbsp &nbsp Today, games look a lot better, like seriously a lot. Now everyone is asking for supernatural graphics, they want to forget about real world and live inside the games. And the game developers are doing their job perfectly.</p>
  <center>
    <div class="row">
        <div class="col-md-6">
        <%= image_tag ("/assets/modern.jpg"), :width => "480"%>
        </div>
        <div class="col-md-6">
        <%= image_tag ("/assets/modern2.jpg"), :width => "480"%>
        </div>
    </div>
  </center>

  <div class="col-xs-12" style="height:50px;"></div>
</div>