<div class="container container-custom">
  <h1 class="text-left grey"><strong>Best of all</strong></h1>

  <center>
    <iframe width="1050" height="315" src="https://www.youtube.com/embed/JSRtYpNRoN0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></iframe>
  </center>

  <div class="col-xs-12" style="height:50px;"></div>

  <h2 class="text-left black">About</h2>
  <p class="text-sm-left">&nbsp &nbsp The Elder Scrolls V: Skyrim is an open world action role-playing video game developed by Bethesda Game Studios and published by Bethesda Softworks. It is the fifth main installment in The Elder Scrolls series. The game's main story revolves around the player character and their quest to defeat Alduin the World-Eater, a dragon who is prophesied to destroy the world. The game is set two hundred years after the events of Oblivion, and takes place in the fictional province of Skyrim.</p>

  <center>
    <div class="row">
        <div class="col-md-6">
          <%= image_tag ("/assets/Skyrim.jpg"), :width => "480"%>
        </div>
        <div class="col-md-6">
          <%= image_tag ("/assets/Skyrim2.jpg"), :width => "480"%>
        </div>
    </div>
  </center>
  <div class="col-xs-12" style="height:50px;"></div>
</div>